<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.Patients">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/patienticon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/patienticon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_MiniProject"
        tools:targetApi="31">
        <activity
            android:name="com.example.Patients.deleteActivity"
            android:exported="false" />
        <activity android:name="com.example.Patients.searchActivity"
            android:exported="false"/>
        <activity
            android:name="com.example.Patients.UpdateActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Patients.viewActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Patients.InsertActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Patients.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>